src/main/resources/LADMVService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch0="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry"
	xmlns:sch1="http://rts.dt.com/ladmv/services/CoreElements"
	xmlns:sch2="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
	xmlns:sch3="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry"
	xmlns:sch4="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction"
	xmlns:sch5="http://rts.dt.com/ladmv/services/transaction/CommonElements"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rts.dt.com/ladmv"
	targetNamespace="http://rts.dt.com/ladmv">
	<wsdl:types>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry"
			xmlns:commoninquiry="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:tns="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:globalBindings generateElementProperty="false" />
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements" />
			<xsd:element name="VehicleInquiryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Inquiry" type="InquiryRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VehicleInquiryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Inquiry" type="InquiryResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="InquiryRequest">
				<xsd:sequence>
					<xsd:element name="InquiryType" type="xsd:string" />
					<xsd:element minOccurs="0" name="Vin" type="xsd:string" />
					<xsd:element minOccurs="0" name="PlateNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="RegExpYear">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:pattern value="[0-9][0-9]" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InquiryResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="BatchNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="SequenceNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrivacyActCompliance">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:pattern value="[0-9]" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Vehicle" type="InqVehicleType" />
					<xsd:element name="Owners" type="InqOwnerListType" />
					<xsd:element name="Registration" type="core:RegistrationType" />
					<xsd:element name="Title" type="commoninquiry:InqTitleType" />
					<xsd:element name="LienHolder" type="core:LienHolderType" />
					<xsd:element name="Sales" type="InqSalesType" />
					<xsd:element name="Comments" type="commoninquiry:DealComments" />
					<xsd:element name="Errors" type="core:ErrorsListType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InqVehicleType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element name="ClassCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InqOwnerListType">
				<xsd:sequence>
					<xsd:element name="InquiryPrimaryOwner" type="InqPrimaryOwnerType" />
					<xsd:element name="InquirySecondaryOwner" type="InqSecondaryOwnerType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InqPrimaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="core:PrimaryOwnerType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="CustomerNum" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InqSecondaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="core:SecondaryOwnerType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="CustomerNum" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InqSalesType">
				<xsd:sequence>
					<xsd:element name="DateAcquired">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SalePrice">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:fractionDigits value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SpecialFeesCode" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:common="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://rts.dt.com/ladmv/services/CoreElements">
			<xsd:complexType name="AuthHeaderType">
				<xsd:sequence>
					<xsd:element name="OfficeCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="OperatorCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FlagListType">
				<xsd:sequence>
					<xsd:element maxOccurs="10" minOccurs="0" name="Flag"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RegistrationType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element minOccurs="0" name="PlateSurrenderDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element minOccurs="0" name="NonUseAffadvtBeginDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:choice>
						<xsd:element minOccurs="0" name="SaleOrTradeinDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element minOccurs="0" name="NonUseAffadvtEndDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element minOccurs="0" name="FlagSetDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:element minOccurs="0" name="StopNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CurrentPlateNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CurrentPlateExpDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="Sticker">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevPlateNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="PrevPlateExpDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DomicileCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TitleType">
				<xsd:sequence>
					<xsd:element name="CurrentTitleNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="7" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevTitleNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="PrevTitleTransTypeCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevTitleTransDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevTitleState" type="xsd:string" />
					<xsd:element minOccurs="0" name="MicroFilmNum" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TransVehicleType">
				<xsd:sequence>
					<xsd:element name="Vin">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="17" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Make">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Body">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrimaryColor">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SecondaryColor">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Year">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:pattern value="[0-9]{4}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OdometerReading">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="Model">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Weight">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="IsNew">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="N" />
								<xsd:enumeration value="U" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Flags" type="FlagListType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OwnerType">
				<xsd:sequence>
					<xsd:element name="Name">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Type">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:enumeration value="1" />
								<xsd:enumeration value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Address" type="PartyAddressType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OwnerListType">
				<xsd:sequence>
					<xsd:element name="PrimaryOwner" type="PrimaryOwnerType" />
					<xsd:element name="SecondaryOwner" type="SecondaryOwnerType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PrimaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="OwnerType">
						<xsd:sequence>
							<xsd:element name="DriverLicenseNum">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="7" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="EmpIdentificationNum">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="9" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="JointOwnerName">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="26" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SecondaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="OwnerType">
						<xsd:sequence>
							<xsd:element name="OwnerStatus">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="8" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="PartyAddressType">
				<xsd:sequence>
					<xsd:element name="Street">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="City">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="17" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="State">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Zip">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LienHolderType">
				<xsd:sequence>
					<xsd:element name="Name">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="28" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ELTCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="LienAmount" type="xsd:decimal" />
					<xsd:element name="LienDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Address" type="PartyAddressType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorsListType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ErrorFields" type="ErrorFieldsType" />
					<xsd:element minOccurs="0" name="ErrorMessage" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorFieldsType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="FieldName"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:tns="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:globalBindings generateElementProperty="false" />
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:complexType name="InqTitleType">
				<xsd:complexContent>
					<xsd:extension base="core:TitleType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="PrevNonTitleTransTypeCode"
								nillable="true" type="xsd:string" />
							<xsd:element minOccurs="0" name="PrevNonTitleTransDate">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[0-9]{6}" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="DealComments">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Comments" type="xsd:string" />
					<xsd:element minOccurs="0" name="ComOri" type="xsd:string" />
					<xsd:element minOccurs="0" name="ComOca" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry"
			xmlns:commoninquiry="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:eltinquiry="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:globalBindings generateElementProperty="false" />
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements" />
			<xsd:element name="EltInquiryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Inquiry">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="InquiryType" type="xsd:string" />
									<xsd:element minOccurs="0" name="EltType" type="xsd:string" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EltInquiryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Inquiry">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element minOccurs="0" name="AuthHeader"
										type="core:AuthHeaderType" />
									<xsd:element minOccurs="0" name="EltType" type="xsd:string" />
									<xsd:element minOccurs="0" name="LienHolder" type="core:OwnerType" />
									<xsd:element maxOccurs="2" minOccurs="0"
										name="PublicTagAgents" type="PTAs" />
									<xsd:element minOccurs="0" name="Errors"
										type="core:ErrorsListType" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="PTAs">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="publicTagAgent"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="BeginDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{8}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="EndDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{8}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="officeCode" nillable="true"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction"
			xmlns:common="http://rts.dt.com/ladmv/services/transaction/CommonElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:titleregtrans="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified"
			targetNamespace="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction">
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/transaction/CommonElements" />
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:element name="TitleRegResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element minOccurs="0" name="Transaction" type="TitleRegResponseType" />
						<xsd:element minOccurs="0" name="Errors" type="core:ErrorsListType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TitleRegRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Transaction" type="TitleRegTransactionType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="TitleRegResponseType">
				<xsd:sequence>
					<xsd:element name="TranType" type="xsd:string" />
					<xsd:element name="TranDate" type="xsd:string" />
					<xsd:element minOccurs="0" name="DealerCode" type="xsd:string" />
					<xsd:element minOccurs="0" name="BatchSeqNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="PrinterSequenceNum"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="PID" type="xsd:string" />
					<xsd:element name="Registration"
						type="common:RegistrationForTitleRegTransResponseType" />
					<xsd:element name="Title" type="core:TitleType" />
					<xsd:element name="Vehicle"
						type="common:VehicleForTitleRegTransResponseType" />
					<xsd:element name="Owners" type="core:OwnerListType" />
					<xsd:element name="Sale" type="common:SaleTitleRegTranResponseType" />
					<xsd:element name="LienHolder" type="common:LienHolderWithCodesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TitleRegTransactionType">
				<xsd:sequence>
					<xsd:element name="TranId" type="xsd:long" />
					<xsd:element name="TranType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="BatchNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="SequenceNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DealerCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Registration"
						type="RegistrationForTitleRegTransRequestType" />
					<xsd:element name="Title" type="TitleForTitleRegTransRequestType" />
					<xsd:element name="Vehicle" type="VehicleForTitleRegTransRequestType" />
					<xsd:element name="Owners" type="core:OwnerListType" />
					<xsd:element name="Sale" type="SaleForTitleRegTransRequestType" />
					<xsd:element name="LienHolder" type="common:LienHolderWithCodesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RegistrationForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:RegistrationType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="IsRenewMailToOwner">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="HandicappedStatus">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="3" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LicenseCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="1" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="InCityLimits">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="IsMobileHome">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TitleForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:TitleType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="OOSTitleToSurrender">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="PrevNonTitleTransTypeCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="2" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="PrevNonTitleTransDate">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[0-9]{6}" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IsTitleCharged">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="VehicleForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element name="NumOfPassengers" type="xsd:int" />
							<xsd:element name="ClassCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SaleForTitleRegTransRequestType">
				<xsd:sequence>
					<xsd:element name="SaleInfo" type="SaleInfoForTitleRegTranRequestType" />
					<xsd:element name="TaxesAndFees"
						type="TaxesAndFeesForTitleRegTranRequestType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SaleInfoForTitleRegTranRequestType">
				<xsd:complexContent>
					<xsd:extension base="common:SaleInfoType">
						<xsd:sequence>
							<xsd:element name="VendorCompensationIndicator">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxDate" type="xsd:string" />
							<xsd:element name="EffectvDate" type="xsd:string" />
							<xsd:element name="PaymentMode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:enumeration value="1" />
										<xsd:enumeration value="2" />
										<xsd:enumeration value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="IsSpeclPlateFirstTimeIssued">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ElecFundTransfCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="3" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxCreditState">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[A-Za-z]{2}" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxExemptionCode" type="xsd:string" />
							<xsd:element name="CitationDate" type="xsd:string" />
							<xsd:element name="IsInitialFeeApplicable">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SpecialFeesCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="2" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TaxesAndFeesForTitleRegTranRequestType">
				<xsd:complexContent>
					<xsd:extension base="common:TaxesAndFeesType">
						<xsd:sequence>
							<xsd:element name="StateAssignedVinFee" type="xsd:decimal" />
							<xsd:element name="TaxableValue" type="xsd:decimal" />
							<xsd:element name="TradeInValue" type="xsd:decimal" />
							<xsd:element name="RemitFee" type="xsd:decimal" />
							<xsd:element name="TitleServiceHandlingFee" type="xsd:decimal" />
							<xsd:element name="MiscFee" type="xsd:decimal" />
							<xsd:element name="RebateAmount" type="xsd:decimal" />
							<xsd:element name="StatePenaltyCredit" type="xsd:decimal" />
							<xsd:element name="LicenseCredit" type="xsd:decimal" />
							<xsd:element name="LicensePenalityCredit" type="xsd:decimal" />
							<xsd:element name="WheelChairLiftFee" type="xsd:decimal" />
							<xsd:element name="ParishOrMunicTax" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/transaction/CommonElements"
			xmlns:common="http://rts.dt.com/ladmv/services/transaction/CommonElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://rts.dt.com/ladmv/services/transaction/CommonElements">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:complexType name="RegistrationForTitleRegTransResponseType">
				<xsd:complexContent>
					<xsd:extension base="core:RegistrationType">
						<xsd:sequence>
							<xsd:element name="HandicappedStatus" type="xsd:string" />
							<xsd:element name="InCityLimits" type="xsd:string" />
							<xsd:element minOccurs="0" name="UseType" type="xsd:string" />
							<xsd:element name="LicenseCode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="VehicleForTitleRegTransResponseType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element name="ClassCode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SaleInfoType">
				<xsd:sequence>
					<xsd:element name="DateAcquired">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TaxesAndFeesType">
				<xsd:sequence>
					<xsd:element name="SalePrice" type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SaleTitleRegTranResponseType">
				<xsd:sequence>
					<xsd:element name="SaleInfo" type="SaleInfoTitleRegTranResponseType" />
					<xsd:element name="TaxesAndFees"
						type="TaxesAndFeesForTitleRegTranResponseType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SaleInfoTitleRegTranResponseType">
				<xsd:complexContent>
					<xsd:extension base="SaleInfoType">
						<xsd:sequence>
							<xsd:element name="SpecialFeesCode" type="xsd:string" />
							<xsd:element name="TaxDate" type="xsd:string" />
							<xsd:element name="EffectvDate" type="xsd:string" />
							<xsd:element name="PaymentMode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TaxesAndFeesForTitleRegTranResponseType">
				<xsd:complexContent>
					<xsd:extension base="TaxesAndFeesType">
						<xsd:sequence>
							<xsd:element name="TaxableValue" type="xsd:decimal" />
							<xsd:element name="TradeInValue" type="xsd:decimal" />
							<xsd:element name="RebateAmount" type="xsd:decimal" />
							<xsd:element name="LicensePlateFee" type="xsd:decimal" />
							<xsd:element name="PlateTransferFees" type="xsd:decimal" />
							<xsd:element name="SpecialPlateFirstTimeFee" type="xsd:decimal" />
							<xsd:element name="RoyaltyFee" type="xsd:decimal" />
							<xsd:element name="LicenseCredit" type="xsd:decimal" />
							<xsd:element name="LicensePenalityCredit" type="xsd:decimal" />
							<xsd:element name="StateTaxesAndFees" type="StateTaxesAndFeesType" />
							<xsd:element name="PMTaxesAndFeesType" type="PMTaxesAndFeesType" />
							<xsd:element name="TotalFees" type="xsd:decimal" />
							<xsd:element name="TotalTax" type="xsd:decimal" />
							<xsd:element name="GrandTotalFees" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="StateTaxesAndFeesType">
				<xsd:sequence>
					<xsd:element name="LienFees" type="xsd:decimal" />
					<xsd:element name="TitleFees" type="xsd:decimal" />
					<xsd:element name="MiscFee" type="xsd:decimal" />
					<xsd:element name="TitleServiceHandlingFee" type="xsd:decimal" />
					<xsd:element name="TourismFees" type="xsd:decimal" />
					<xsd:element name="ExpeditedTitleFees" type="xsd:decimal" />
					<xsd:element name="StateSalesTax" type="xsd:decimal" />
					<xsd:element name="StateTaxCredit" type="xsd:decimal" />
					<xsd:element name="StateTaxPenalty" type="xsd:decimal" />
					<xsd:element name="StateInterest" type="xsd:decimal" />
					<xsd:element name="StatePenaltyCredit" type="xsd:decimal" />
					<xsd:element name="StateVendorCompensationFee" type="xsd:decimal" />
					<xsd:element name="WheelChairLiftFee" type="xsd:decimal" />
					<xsd:element name="StateNetTax" type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PMTaxesAndFeesType">
				<xsd:sequence>
					<xsd:element name="ParishOrMunicTax" type="xsd:decimal" />
					<xsd:element name="PMTaxPenalty" type="xsd:decimal" />
					<xsd:element name="PMInterest" type="xsd:decimal" />
					<xsd:element name="PMOOSTaxcredit" type="xsd:decimal" />
					<xsd:element name="PMPenaltyCredit" type="xsd:decimal" />
					<xsd:element name="PMVendorComp" type="xsd:decimal" />
					<xsd:element name="PMNetTax" type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LienHolderWithCodesType">
				<xsd:complexContent>
					<xsd:extension base="core:LienHolderType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="MortgageCodeWithUCC"
								type="xsd:string" />
							<xsd:element minOccurs="0" name="MortgageCode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EltInquiryRequest">
		<wsdl:part element="sch3:EltInquiryRequest" name="EltInquiryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EltInquiryResponse">
		<wsdl:part element="sch3:EltInquiryResponse" name="EltInquiryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="VehicleInquiryRequest">
		<wsdl:part element="sch0:VehicleInquiryRequest" name="VehicleInquiryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="VehicleInquiryResponse">
		<wsdl:part element="sch0:VehicleInquiryResponse" name="VehicleInquiryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TitleRegRequest">
		<wsdl:part element="sch4:TitleRegRequest" name="TitleRegRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TitleRegResponse">
		<wsdl:part element="sch4:TitleRegResponse" name="TitleRegResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LADMVPort">
		<wsdl:operation name="EltInquiry">
			<wsdl:input message="tns:EltInquiryRequest" name="EltInquiryRequest"></wsdl:input>
			<wsdl:output message="tns:EltInquiryResponse" name="EltInquiryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VehicleInquiry">
			<wsdl:input message="tns:VehicleInquiryRequest" name="VehicleInquiryRequest"></wsdl:input>
			<wsdl:output message="tns:VehicleInquiryResponse" name="VehicleInquiryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TitleReg">
			<wsdl:input message="tns:TitleRegRequest" name="TitleRegRequest"></wsdl:input>
			<wsdl:output message="tns:TitleRegResponse" name="TitleRegResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LADMVPortSoap11" type="tns:LADMVPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EltInquiry">
			<soap:operation soapAction="" />
			<wsdl:input name="EltInquiryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="EltInquiryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VehicleInquiry">
			<soap:operation soapAction="" />
			<wsdl:input name="VehicleInquiryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="VehicleInquiryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TitleReg">
			<soap:operation soapAction="" />
			<wsdl:input name="TitleRegRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="TitleRegResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LADMVService">
		<wsdl:port binding="tns:LADMVPortSoap11" name="LADMVPortSoap11">
			<soap:address location="http://localhost:8888/la" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>