src/main/resources/LADMVService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch0="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry"
	xmlns:sch1="http://rts.dt.com/ladmv/services/CoreElements"
	xmlns:sch2="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
	xmlns:sch3="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry"
	xmlns:sch4="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienAddModify"
	xmlns:sch5="http://rts.dt.com/ladmv/services/inquiries/VehiclesListInquiryDLEIN"
	xmlns:sch6="http://rts.dt.com/ladmv/services/inquiries/DailyMoniesSummaryInquiry"
	xmlns:sch7="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction"
	xmlns:sch8="http://rts.dt.com/ladmv/services/transaction/CommonElements"
	xmlns:sch9="http://rts.dt.com/ladmv/services/transaction/RenewalRegTransaction"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rts.dt.com/ladmv"
	targetNamespace="http://rts.dt.com/ladmv">
	<wsdl:types>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry"
			xmlns:commoninquiry="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:tns="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/VehicleInquiry">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements" />
			<xsd:element name="VehicleInquiryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Inquiry" type="InquiryRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VehicleInquiryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Inquiry" type="InquiryResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="InquiryRequest">
				<xsd:sequence>
					<xsd:element name="InquiryType" type="commoninquiry:VMInquiryTypeEnum" />
					<xsd:element minOccurs="0" name="Vin" type="xsd:string" />
					<xsd:element minOccurs="0" name="PlateNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="RegExpYear">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:pattern value="[0-9][0-9]" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InquiryResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="BatchNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="SequenceNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrivacyActCompliance">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:pattern value="[0-9]" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Vehicle" type="InqVehicleType" />
					<xsd:element name="Owners" type="InqOwnerListType" />
					<xsd:element name="Registration"
						type="commoninquiry:InquiryRegistrationType" />
					<xsd:element name="Title" type="commoninquiry:InqTitleType" />
					<xsd:element name="LienHolder" type="core:LienHolderType" />
					<xsd:element name="Sales" type="InqSalesType" />
					<xsd:element name="Comments" type="commoninquiry:DealComments" />
					<xsd:element name="Errors" type="core:ErrorsListType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InqVehicleType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element name="ClassCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InqOwnerListType">
				<xsd:sequence>
					<xsd:element name="PrimaryOwner" type="InqPrimaryOwnerType" />
					<xsd:element name="SecondaryOwner" type="InqSecondaryOwnerType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InqPrimaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="core:PrimaryOwnerType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="CustomerNum" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InqSecondaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="core:SecondaryOwnerType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="CustomerNum" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InqSalesType">
				<xsd:sequence>
					<xsd:element name="DateAcquired">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SalePrice">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:fractionDigits value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SpecialFeesCode" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:common="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://rts.dt.com/ladmv/services/CoreElements">
			<xsd:complexType name="AuthHeaderType">
				<xsd:sequence>
					<xsd:element name="OfficeCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="OperatorCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FlagListType">
				<xsd:sequence>
					<xsd:element maxOccurs="10" minOccurs="0" name="Flag"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RegistrationType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element minOccurs="0" name="PlateSurrenderDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element minOccurs="0" name="NonUseAffadvtBeginDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:choice>
						<xsd:element minOccurs="0" name="SaleOrTradeinDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element minOccurs="0" name="NonUseAffadvtEndDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element minOccurs="0" name="FlagSetDate">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{6}" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:element minOccurs="0" name="StopNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CurrentPlateNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CurrentPlateExpDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="Sticker">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevPlateNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="PrevPlateExpDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="DomicileCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TitleType">
				<xsd:sequence>
					<xsd:element name="CurrentTitleNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="7" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevTitleNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="PrevTitleTransTypeCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevTitleTransDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PrevTitleState" type="xsd:string" />
					<xsd:element minOccurs="0" name="MicroFilmNum" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TransVehicleType">
				<xsd:sequence>
					<xsd:element name="Vin">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="17" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Make">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Body">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrimaryColor">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SecondaryColor">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Year">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:pattern value="[0-9]{4}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="OdometerReading">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="Model">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Weight">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:element minOccurs="0" name="VehicleType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="N" />
								<xsd:enumeration value="U" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Flags" type="FlagListType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PartyType">
				<xsd:sequence>
					<xsd:element name="Name">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OwnerType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:enumeration value="1" />
								<xsd:enumeration value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Address" type="PartyAddressType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OwnerListType">
				<xsd:sequence>
					<xsd:element name="PrimaryOwner" type="PrimaryOwnerType" />
					<xsd:element name="SecondaryOwner" type="SecondaryOwnerType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PrimaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="PartyType">
						<xsd:sequence>
							<xsd:element name="DriverLicenseNum">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="7" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="EmpIdentificationNum">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="9" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="JointOwnerName">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="26" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SecondaryOwnerType">
				<xsd:complexContent>
					<xsd:extension base="PartyType">
						<xsd:sequence>
							<xsd:element name="OwnerStatus">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="8" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="PartyAddressType">
				<xsd:sequence>
					<xsd:element name="Street">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="City">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="17" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="State">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Zip">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LienHolderType">
				<xsd:sequence>
					<xsd:element name="Name">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="28" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ELTCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="LienAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="LienDate">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Address" type="PartyAddressType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorsListType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ErrorFields" type="ErrorFieldsType" />
					<xsd:element minOccurs="0" name="ErrorMessage" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorFieldsType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="FieldName"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:tns="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:complexType name="InqTitleType">
				<xsd:complexContent>
					<xsd:extension base="core:TitleType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="PrevNonTitleTransTypeCode"
								type="xsd:string" />
							<xsd:element minOccurs="0" name="PrevNonTitleTransDate"
								type="MMDDYYDateFormat" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InquiryRegistrationType">
				<xsd:complexContent>
					<xsd:extension base="core:RegistrationType">
						<xsd:sequence>
							<xsd:element name="HandicappedStatus" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="DealComments">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Comments" type="xsd:string" />
					<xsd:element minOccurs="0" name="CommentsOri" type="xsd:string" />
					<xsd:element minOccurs="0" name="CommentsOca" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PaymentModeEnum">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="OL" />
					<xsd:enumeration value="EL" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="VMInquiryTypeEnum">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="VM" />
					<xsd:enumeration value="LM" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AR74InquiryTypeEnum">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="AR74" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ELTInquiryTypeEnum">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="ELTR" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ELTTypesEnum">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="I" />
					<xsd:enumeration value="A" />
					<xsd:enumeration value="M" />
					<xsd:enumeration value="D" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MMDDYYDateFormat">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{6}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MMDDYYYYDateFormat">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{8}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DriversLicenseType">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="7" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="EmployeeIdentificationType">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="9" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CurrentPlateNumberType">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="8" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry"
			xmlns:commoninquiry="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:eltinquiry="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienInquiry">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements" />
			<xsd:element name="EltrInquiryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="ELTRInquiry" type="ELTInquiry" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EltrInquiryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="ELTRInquiryResp" type="ELTInquiryResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ELTInquiry">
				<xsd:sequence>
					<xsd:element name="ELTInquiryType" type="commoninquiry:ELTInquiryTypeEnum" />
					<xsd:element name="ELTType" type="commoninquiry:ELTTypesEnum" />
					<xsd:element name="ELTCode" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ELTInquiryResponse">
				<xsd:sequence>
					<xsd:element name="ELTInquiryType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ELTR" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ELTType" type="commoninquiry:ELTTypesEnum" />
					<xsd:element name="LienHolder" type="core:PartyType" />
					<xsd:element minOccurs="0" name="PublicTagAgents" type="PTAsList" />
					<xsd:element minOccurs="0" name="Errors" type="core:ErrorsListType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PTAsList">
				<xsd:sequence>
					<xsd:element maxOccurs="2" minOccurs="0" name="PublicTagAgent"
						type="PTAgent" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PTAgent">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Agent" type="xsd:string" />
					<xsd:element minOccurs="0" name="BeginDate"
						type="commoninquiry:MMDDYYYYDateFormat" />
					<xsd:element minOccurs="0" name="EndDate"
						type="commoninquiry:MMDDYYYYDateFormat" />
					<xsd:element minOccurs="0" name="OfficeNumber" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienAddModify"
			xmlns:commoninquiry="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:eltam="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienAddModify"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/ElectronicLienAddModify">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements" />
			<xsd:element name="EltAddOrModifyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="ELTRAddModify" type="ELTInquiry" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EltAddOrModifyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="ELTRInfo" type="ELTInquiry" />
						<xsd:element minOccurs="0" name="Errors" type="core:ErrorsListType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ELTInquiry">
				<xsd:sequence>
					<xsd:element name="ELTInquiryType" type="commoninquiry:ELTInquiryTypeEnum" />
					<xsd:element name="ELTType" type="commoninquiry:ELTTypesEnum" />
					<xsd:element name="LienHolder" type="core:PartyType" />
					<xsd:element minOccurs="0" name="PublicTagAgents" type="PTAsList" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PTAsList">
				<xsd:sequence>
					<xsd:element maxOccurs="2" minOccurs="0" name="PublicTagAgent"
						type="PTAgent" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PTAgent">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Agent" type="xsd:string" />
					<xsd:element minOccurs="0" name="BeginDate"
						type="commoninquiry:MMDDYYYYDateFormat" />
					<xsd:element minOccurs="0" name="EndDate"
						type="commoninquiry:MMDDYYYYDateFormat" />
					<xsd:element minOccurs="0" name="OfficeNumber" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/VehiclesListInquiryDLEIN"
			xmlns:commoninquiry="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:tns="http://rts.dt.com/ladmv/services/inquiries/VehiclesListInquiryDLEIN"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/VehiclesListInquiryDLEIN">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements" />
			<xsd:element name="VehiclesListInquiryByDLOrEINRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="DMEMInquiryRequest" type="DMEMInquiryRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VehiclesListInquiryByDLOrEINResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="DMEMInquiryResponse" type="DMEMInquiryResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="DMEMInquiryRequest">
				<xsd:sequence>
					<xsd:element name="InquiryType" type="DMInquiryTypeEnum" />
					<xsd:choice>
						<xsd:element name="DriverLicenseNum" type="xsd:string" />
						<xsd:element name="EmployeeIdentificationNum" type="xsd:string" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DMEMInquiryResponse">
				<xsd:sequence>
					<xsd:element name="InquiryType" type="DMInquiryTypeEnum" />
					<xsd:element name="OwnerName" type="xsd:string" />
					<xsd:element minOccurs="0" name="Action" type="xsd:string" />
					<xsd:choice minOccurs="0">
						<xsd:element name="LADriversLicense">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string" />
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IDCard">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string" />
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:choice minOccurs="0">
						<xsd:element name="TAXId">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string" />
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OOSDRLicense">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string" />
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="OwnerVehicleType" type="OwnerVehicleList" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="DMInquiryTypeEnum">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DM" />
					<xsd:enumeration value="EM" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="OwnerVehicleList">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="OwnerVehicle" type="OwnerVehilceType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OwnerVehilceType">
				<xsd:sequence>
					<xsd:element name="Owner" type="DMEMInquiryPartyType" />
					<xsd:element name="Vehicle" type="DMEMInquiryVehicleType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DMEMInquiryPartyType">
				<xsd:complexContent>
					<xsd:extension base="core:PartyType">
						<xsd:sequence>
							<xsd:element name="JointOwnerName">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="26" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:choice>
								<xsd:element name="DriverLicenseNum" type="commoninquiry:DriversLicenseType" />
								<xsd:element name="EmpIdentificationNum"
									type="commoninquiry:EmployeeIdentificationType" />
							</xsd:choice>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="DMEMInquiryVehicleType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="MicroFilmNum" type="xsd:string" />
							<xsd:element name="CurrentPlateNum"
								type="commoninquiry:CurrentPlateNumberType" />
							<xsd:element name="CurrentPlateExpDate" type="commoninquiry:MMDDYYDateFormat" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/inquiries/DailyMoniesSummaryInquiry"
			xmlns:commoninquiry="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:tns="http://rts.dt.com/ladmv/services/inquiries/DailyMoniesSummaryInquiry"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" jaxb:version="2.1"
			targetNamespace="http://rts.dt.com/ladmv/services/inquiries/DailyMoniesSummaryInquiry">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/inquiries/CommonInquiryElements" />
			<xsd:element name="DailyMoniesSummaryInquiryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="AR74InquiryRequest" type="AR74InquiryRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="AR74InquiryRequest">
				<xsd:sequence>
					<xsd:element name="InquiryType" type="commoninquiry:AR74InquiryTypeEnum" />
					<xsd:element name="PaymentMode" type="commoninquiry:PaymentModeEnum" />
					<xsd:element name="InquiryDate" type="commoninquiry:MMDDYYDateFormat" />
					<xsd:element minOccurs="0" name="ElectronicFundTranCode"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="DailyMoniesSummaryInquiryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="AR74InquiryResponse" type="AR74InquiryResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="AR74InquiryResponse">
				<xsd:sequence>
					<xsd:element name="InquiryType" type="commoninquiry:AR74InquiryTypeEnum" />
					<xsd:element name="TotalMonies" type="xsd:decimal" />
					<xsd:element name="TotalReceipts" type="xsd:decimal" />
					<xsd:element name="DepositDate" type="commoninquiry:MMDDYYDateFormat" />
					<xsd:element name="AdjacenOverride" type="xsd:decimal" />
					<xsd:element name="PIVNum" type="xsd:long" />
					<xsd:element name="JVNum" type="xsd:long" />
					<xsd:element name="RemittanceAmount" type="xsd:decimal" />
					<xsd:element name="ListingNum" type="xsd:long" />
					<xsd:element minOccurs="0" name="ManualsAndMonies"
						type="ManualAndMonies" />
					<xsd:element minOccurs="0" name="Errors" type="core:ErrorsListType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ManualAndMonies">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="PlateTypesAndFees" type="PlateTypesAndFees" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PlateTypesAndFees">
				<xsd:sequence>
					<xsd:element name="PlateType" type="xsd:string" />
					<xsd:element name="PlateTypeFee" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction"
			xmlns:common="http://rts.dt.com/ladmv/services/transaction/CommonElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:titleregtrans="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified"
			targetNamespace="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction">
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/transaction/CommonElements" />
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:element name="TitleRegResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element minOccurs="0" name="Transaction" type="TitleRegResponseType" />
						<xsd:element minOccurs="0" name="Errors" type="core:ErrorsListType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TitleRegRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Transaction" type="TitleRegTransactionType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="TitleRegResponseType">
				<xsd:sequence>
					<xsd:element name="TranType" type="xsd:string" />
					<xsd:element name="TranDate" type="xsd:string" />
					<xsd:element minOccurs="0" name="DealerCode" type="xsd:string" />
					<xsd:element minOccurs="0" name="BatchSeqNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="PrinterSequenceNum"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="PID" type="xsd:string" />
					<xsd:element name="Registration"
						type="common:RegistrationForTitleRegTransResponseType" />
					<xsd:element name="Title" type="core:TitleType" />
					<xsd:element name="Vehicle"
						type="common:VehicleForTitleRegTransResponseType" />
					<xsd:element name="Owners" type="core:OwnerListType" />
					<xsd:element name="Sale" type="common:SaleTitleRegTranResponseType" />
					<xsd:element name="LienHolder" type="common:LienHolderWithCodesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TitleRegTransactionType">
				<xsd:sequence>
					<xsd:element name="TranId" type="xsd:long" />
					<xsd:element name="TranType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="BatchNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="SequenceNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DealerCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Registration"
						type="RegistrationForTitleRegTransRequestType" />
					<xsd:element name="Title" type="TitleForTitleRegTransRequestType" />
					<xsd:element name="Vehicle" type="VehicleForTitleRegTransRequestType" />
					<xsd:element name="Owners" type="core:OwnerListType" />
					<xsd:element name="Sale" type="SaleForTitleRegTransRequestType" />
					<xsd:element name="LienHolder" type="common:LienHolderWithCodesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RegistrationForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:RegistrationType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="IsRenewMailToOwner">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="HandicappedStatus">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="3" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LicenseCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="1" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="InCityLimits">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="IsMobileHome">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TitleForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:TitleType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="OOSTitleToSurrender">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="PrevNonTitleTransTypeCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="2" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="PrevNonTitleTransDate">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[0-9]{6}" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IsTitleCharged">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="VehicleForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element name="NumOfPassengers" type="xsd:int" />
							<xsd:element name="ClassCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SaleForTitleRegTransRequestType">
				<xsd:sequence>
					<xsd:element name="SaleInfo" type="SaleInfoForTitleRegTranRequestType" />
					<xsd:element name="TaxesAndFees"
						type="TaxesAndFeesForTitleRegTranRequestType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SaleInfoForTitleRegTranRequestType">
				<xsd:complexContent>
					<xsd:extension base="common:SaleInfoType">
						<xsd:sequence>
							<xsd:element name="VendorCompensationIndicator">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxDate" type="xsd:string" />
							<xsd:element name="EffectvDate" type="xsd:string" />
							<xsd:element name="PaymentMode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:enumeration value="1" />
										<xsd:enumeration value="2" />
										<xsd:enumeration value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="IsSpeclPlateFirstTimeIssued">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ElecFundTransfCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="3" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxCreditState">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[A-Za-z]{2}" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxExemptionCode" type="xsd:string" />
							<xsd:element name="CitationDate" type="xsd:string" />
							<xsd:element name="IsInitialFeeApplicable">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SpecialFeesCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="2" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TaxesAndFeesForTitleRegTranRequestType">
				<xsd:complexContent>
					<xsd:extension base="common:TaxesAndFeesType">
						<xsd:sequence>
							<xsd:element name="StateAssignedVinFee" type="xsd:decimal" />
							<xsd:element name="TaxableValue" type="xsd:decimal" />
							<xsd:element name="TradeInValue" type="xsd:decimal" />
							<xsd:element name="RemitFee" type="xsd:decimal" />
							<xsd:element name="TitleServiceHandlingFee" type="xsd:decimal" />
							<xsd:element name="MiscFee" type="xsd:decimal" />
							<xsd:element name="RebateAmount" type="xsd:decimal" />
							<xsd:element name="StatePenaltyCredit" type="xsd:decimal" />
							<xsd:element name="LicenseCredit" type="xsd:decimal" />
							<xsd:element name="LicensePenalityCredit" type="xsd:decimal" />
							<xsd:element name="WheelChairLiftFee" type="xsd:decimal" />
							<xsd:element name="ParishOrMunicTax" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/transaction/CommonElements"
			xmlns:common="http://rts.dt.com/ladmv/services/transaction/CommonElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://rts.dt.com/ladmv/services/transaction/CommonElements">
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:complexType name="RegistrationForTitleRegTransResponseType">
				<xsd:complexContent>
					<xsd:extension base="core:RegistrationType">
						<xsd:sequence>
							<xsd:element name="HandicappedStatus" type="xsd:string" />
							<xsd:element name="InCityLimits" type="xsd:string" />
							<xsd:element minOccurs="0" name="UseType" type="xsd:string" />
							<xsd:element name="LicenseCode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="VehicleForTitleRegTransResponseType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element name="ClassCode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SaleInfoType">
				<xsd:sequence>
					<xsd:element name="DateAcquired">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{6}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TaxesAndFeesType">
				<xsd:sequence>
					<xsd:element name="SalePrice" type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SaleTitleRegTranResponseType">
				<xsd:sequence>
					<xsd:element name="SaleInfo" type="SaleInfoTitleRegTranResponseType" />
					<xsd:element name="TaxesAndFees"
						type="TaxesAndFeesForTitleRegTranResponseType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SaleInfoTitleRegTranResponseType">
				<xsd:complexContent>
					<xsd:extension base="SaleInfoType">
						<xsd:sequence>
							<xsd:element name="SpecialFeesCode" type="xsd:string" />
							<xsd:element name="TaxDate" type="xsd:string" />
							<xsd:element name="EffectvDate" type="xsd:string" />
							<xsd:element name="PaymentMode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TaxesAndFeesForTitleRegTranResponseType">
				<xsd:complexContent>
					<xsd:extension base="TaxesAndFeesType">
						<xsd:sequence>
							<xsd:element name="TaxableValue" type="xsd:decimal" />
							<xsd:element name="TradeInValue" type="xsd:decimal" />
							<xsd:element name="RebateAmount" type="xsd:decimal" />
							<xsd:element name="LicensePlateFee" type="xsd:decimal" />
							<xsd:element name="PlateTransferFee" type="xsd:decimal" />
							<xsd:element name="SpecialPlateFirstTimeFee" type="xsd:decimal" />
							<xsd:element name="RoyaltyFee" type="xsd:decimal" />
							<xsd:element name="LicenseCredit" type="xsd:decimal" />
							<xsd:element name="LicensePenaltyCredit" type="xsd:decimal" />
							<xsd:element name="StateTaxesAndFees" type="StateTaxesAndFeesType" />
							<xsd:element name="PMTaxesAndFees" type="PMTaxesAndFeesType" />
							<xsd:element name="TotalFee" type="xsd:decimal" />
							<xsd:element name="TotalTax" type="xsd:decimal" />
							<xsd:element name="GrandTotalFee" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="StateTaxesAndFeesType">
				<xsd:sequence>
					<xsd:element name="LienFee" type="xsd:decimal" />
					<xsd:element name="TitleFee" type="xsd:decimal" />
					<xsd:element name="MiscFee" type="xsd:decimal" />
					<xsd:element name="TitleServiceHandlingFee" type="xsd:decimal" />
					<xsd:element name="TourismFee" type="xsd:decimal" />
					<xsd:element name="ExpeditedTitleFee" type="xsd:decimal" />
					<xsd:element name="StateSalesTax" type="xsd:decimal" />
					<xsd:element name="StateTaxCredit" type="xsd:decimal" />
					<xsd:element name="StateTaxPenalty" type="xsd:decimal" />
					<xsd:element name="StateInterest" type="xsd:decimal" />
					<xsd:element name="StatePenaltyCredit" type="xsd:decimal" />
					<xsd:element name="StateVendorCompensationFee" type="xsd:decimal" />
					<xsd:element name="WheelChairLiftFee" type="xsd:decimal" />
					<xsd:element name="StateNetTax" type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PMTaxesAndFeesType">
				<xsd:sequence>
					<xsd:element name="ParishOrMunicTax" type="xsd:decimal" />
					<xsd:element name="PMTaxPenalty" type="xsd:decimal" />
					<xsd:element name="PMInterest" type="xsd:decimal" />
					<xsd:element name="PMOOSTaxcredit" type="xsd:decimal" />
					<xsd:element name="PMPenaltyCredit" type="xsd:decimal" />
					<xsd:element name="PMVendorComp" type="xsd:decimal" />
					<xsd:element name="PMNetTax" type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LienHolderWithCodesType">
				<xsd:complexContent>
					<xsd:extension base="core:LienHolderType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="MortgageCodeWithUCC"
								type="xsd:string" />
							<xsd:element minOccurs="0" name="MortgageCode" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema
			xmlns="http://rts.dt.com/ladmv/services/transaction/TitleRegTransaction"
			xmlns:common="http://rts.dt.com/ladmv/services/transaction/CommonElements"
			xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
			xmlns:renewalregtrans="http://rts.dt.com/ladmv/services/transaction/RenewalRegTransaction"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified"
			targetNamespace="http://rts.dt.com/ladmv/services/transaction/RenewalRegTransaction">
			<xsd:import
				namespace="http://rts.dt.com/ladmv/services/transaction/CommonElements" />
			<xsd:import namespace="http://rts.dt.com/ladmv/services/CoreElements" />
			<xsd:element name="RenewalRegRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuthHeader" type="core:AuthHeaderType" />
						<xsd:element name="Transaction"
							type="renewalregtrans:RenewalRegTransactionType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="RenewalRegResponseType">
				<xsd:sequence>
					<xsd:element name="TranType" type="xsd:string" />
					<xsd:element name="TranDate" type="xsd:string" />
					<xsd:element minOccurs="0" name="DealerCode" type="xsd:string" />
					<xsd:element minOccurs="0" name="BatchSeqNum" type="xsd:string" />
					<xsd:element minOccurs="0" name="PrinterSequenceNum"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="PID" type="xsd:string" />
					<xsd:element name="Registration"
						type="common:RegistrationForTitleRegTransResponseType" />
					<xsd:element name="Title" type="core:TitleType" />
					<xsd:element name="Vehicle"
						type="common:VehicleForTitleRegTransResponseType" />
					<xsd:element name="Owners" type="core:OwnerListType" />
					<xsd:element name="Sale" type="common:SaleTitleRegTranResponseType" />
					<xsd:element name="LienHolder" type="common:LienHolderWithCodesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RenewalRegTransactionType">
				<xsd:sequence>
					<xsd:element name="TranId" type="xsd:long" />
					<xsd:element name="TranType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="BatchNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="SequenceNum">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DealerCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Registration"
						type="renewalregtrans:RegistrationForTitleRegTransRequestType" />
					<xsd:element name="Title"
						type="renewalregtrans:TitleForTitleRegTransRequestType" />
					<xsd:element name="Vehicle"
						type="renewalregtrans:VehicleForTitleRegTransRequestType" />
					<xsd:element name="Owners" type="core:OwnerListType" />
					<xsd:element name="Sale"
						type="renewalregtrans:SaleForTitleRegTransRequestType" />
					<xsd:element name="LienHolder" type="common:LienHolderWithCodesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RegistrationForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:RegistrationType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="IsRenewMailToOwner">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="HandicappedStatus">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="3" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="LicenseCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="1" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TitleForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:TitleType">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="OOSTitleToSurrender">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="PrevNonTitleTransTypeCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="2" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="PrevNonTitleTransDate">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[0-9]{6}" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IsTitleCharged">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="VehicleForTitleRegTransRequestType">
				<xsd:complexContent>
					<xsd:extension base="core:TransVehicleType">
						<xsd:sequence>
							<xsd:element name="NumOfPassengers" type="xsd:int" />
							<xsd:element name="ClassCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SaleForTitleRegTransRequestType">
				<xsd:sequence>
					<xsd:element name="SaleInfo"
						type="renewalregtrans:SaleInfoForTitleRegTranRequestType" />
					<xsd:element name="TaxesAndFees"
						type="renewalregtrans:TaxesAndFeesForTitleRegTranRequestType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SaleInfoForTitleRegTranRequestType">
				<xsd:complexContent>
					<xsd:extension base="common:SaleInfoType">
						<xsd:sequence>
							<xsd:element name="VendorCompensationIndicator">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxDate" type="xsd:string" />
							<xsd:element name="EffectvDate" type="xsd:string" />
							<xsd:element name="PaymentMode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:enumeration value="1" />
										<xsd:enumeration value="2" />
										<xsd:enumeration value="4" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element minOccurs="0" name="IsSpeclPlateFirstTimeIssued">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ElecFundTransfCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="3" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="TaxExemptionCode" type="xsd:string" />
							<xsd:element name="CitationDate" type="xsd:string" />
							<xsd:element name="IsInitialFeeApplicable">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Y" />
										<xsd:enumeration value="N" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SpecialFeesCode">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="2" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TaxesAndFeesForTitleRegTranRequestType">
				<xsd:complexContent>
					<xsd:extension base="common:TaxesAndFeesType">
						<xsd:sequence>
							<xsd:element name="StateAssignedVinFee" type="xsd:decimal" />
							<xsd:element name="TaxableValue" type="xsd:decimal" />
							<xsd:element name="TradeInValue" type="xsd:decimal" />
							<xsd:element name="RemitFee" type="xsd:decimal" />
							<xsd:element name="TitleServiceHandlingFee" type="xsd:decimal" />
							<xsd:element name="MiscFee" type="xsd:decimal" />
							<xsd:element name="RebateAmount" type="xsd:decimal" />
							<xsd:element name="StatePenaltyCredit" type="xsd:decimal" />
							<xsd:element name="LicenseCredit" type="xsd:decimal" />
							<xsd:element name="LicensePenalityCredit" type="xsd:decimal" />
							<xsd:element name="WheelChairLiftFee" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EltrInquiryRequest">
		<wsdl:part element="sch3:EltrInquiryRequest" name="EltrInquiryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TitleRegRequest">
		<wsdl:part element="sch7:TitleRegRequest" name="TitleRegRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EltrInquiryResponse">
		<wsdl:part element="sch3:EltrInquiryResponse" name="EltrInquiryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TitleRegResponse">
		<wsdl:part element="sch7:TitleRegResponse" name="TitleRegResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EltAddOrModifyRequest">
		<wsdl:part element="sch4:EltAddOrModifyRequest" name="EltAddOrModifyRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DailyMoniesSummaryInquiryRequest">
		<wsdl:part element="sch6:DailyMoniesSummaryInquiryRequest"
			name="DailyMoniesSummaryInquiryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EltAddOrModifyResponse">
		<wsdl:part element="sch4:EltAddOrModifyResponse" name="EltAddOrModifyResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="VehiclesListInquiryByDLOrEINRequest">
		<wsdl:part element="sch5:VehiclesListInquiryByDLOrEINRequest"
			name="VehiclesListInquiryByDLOrEINRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="VehicleInquiryRequest">
		<wsdl:part element="sch0:VehicleInquiryRequest" name="VehicleInquiryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DailyMoniesSummaryInquiryResponse">
		<wsdl:part element="sch6:DailyMoniesSummaryInquiryResponse"
			name="DailyMoniesSummaryInquiryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="VehicleInquiryResponse">
		<wsdl:part element="sch0:VehicleInquiryResponse" name="VehicleInquiryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RenewalRegRequest">
		<wsdl:part element="sch9:RenewalRegRequest" name="RenewalRegRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="VehiclesListInquiryByDLOrEINResponse">
		<wsdl:part element="sch5:VehiclesListInquiryByDLOrEINResponse"
			name="VehiclesListInquiryByDLOrEINResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LADMVPort">
		<wsdl:operation name="EltrInquiry">
			<wsdl:input message="tns:EltrInquiryRequest" name="EltrInquiryRequest"></wsdl:input>
			<wsdl:output message="tns:EltrInquiryResponse" name="EltrInquiryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TitleReg">
			<wsdl:input message="tns:TitleRegRequest" name="TitleRegRequest"></wsdl:input>
			<wsdl:output message="tns:TitleRegResponse" name="TitleRegResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EltAddOrModify">
			<wsdl:input message="tns:EltAddOrModifyRequest" name="EltAddOrModifyRequest"></wsdl:input>
			<wsdl:output message="tns:EltAddOrModifyResponse" name="EltAddOrModifyResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DailyMoniesSummaryInquiry">
			<wsdl:input message="tns:DailyMoniesSummaryInquiryRequest"
				name="DailyMoniesSummaryInquiryRequest"></wsdl:input>
			<wsdl:output message="tns:DailyMoniesSummaryInquiryResponse"
				name="DailyMoniesSummaryInquiryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VehiclesListInquiryByDLOrEIN">
			<wsdl:input message="tns:VehiclesListInquiryByDLOrEINRequest"
				name="VehiclesListInquiryByDLOrEINRequest"></wsdl:input>
			<wsdl:output message="tns:VehiclesListInquiryByDLOrEINResponse"
				name="VehiclesListInquiryByDLOrEINResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VehicleInquiry">
			<wsdl:input message="tns:VehicleInquiryRequest" name="VehicleInquiryRequest"></wsdl:input>
			<wsdl:output message="tns:VehicleInquiryResponse" name="VehicleInquiryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RenewalReg">
			<wsdl:input message="tns:RenewalRegRequest" name="RenewalRegRequest"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LADMVPortSoap11" type="tns:LADMVPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EltrInquiry">
			<soap:operation soapAction="" />
			<wsdl:input name="EltrInquiryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="EltrInquiryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TitleReg">
			<soap:operation soapAction="" />
			<wsdl:input name="TitleRegRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="TitleRegResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EltAddOrModify">
			<soap:operation soapAction="" />
			<wsdl:input name="EltAddOrModifyRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="EltAddOrModifyResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DailyMoniesSummaryInquiry">
			<soap:operation soapAction="" />
			<wsdl:input name="DailyMoniesSummaryInquiryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DailyMoniesSummaryInquiryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VehiclesListInquiryByDLOrEIN">
			<soap:operation soapAction="" />
			<wsdl:input name="VehiclesListInquiryByDLOrEINRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="VehiclesListInquiryByDLOrEINResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VehicleInquiry">
			<soap:operation soapAction="" />
			<wsdl:input name="VehicleInquiryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="VehicleInquiryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RenewalReg">
			<soap:operation soapAction="" />
			<wsdl:input name="RenewalRegRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LADMVService">
		<wsdl:port binding="tns:LADMVPortSoap11" name="LADMVPortSoap11">
			<soap:address location="http://localhost:8888/la" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>