src/main/resources/xsd/dlru/DLRUCommonElements.xsd

<xsd:schema
	xmlns="http://rts.dt.com/ladmv/services/dlru/DLRUCommonElements"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://rts.dt.com/ladmv/services/transaction/CommonElements"
	xmlns:core="http://rts.dt.com/ladmv/services/CoreElements"
	xmlns:dlruCommon="http://rts.dt.com/ladmv/services/dlru/DLRUCommonElements"
	targetNamespace="http://rts.dt.com/ladmv/services/dlru/DLRUCommonElements">
	
	<xsd:import
		namespace="http://rts.dt.com/ladmv/services/transaction/CommonElements"
		schemaLocation="../transaction/CommonElements.xsd" />
	<xsd:import
	namespace="http://rts.dt.com/ladmv/services/CoreElements"
	schemaLocation="../common/CoreElements.xsd" />
	
	<xsd:complexType name="ExistingDriverLicesnseMetaData">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithTCTLAndFlags">
				<xsd:sequence>
					<xsd:element name="ResEndors" type="dlruCommon:RestrictionsAndEndorsmentWithEndorsmentWLF"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ExistingDriverLicesnseMetaDataWithOutTCTL">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithNameAndFlags">
				<xsd:sequence>
					<xsd:element name="ResEndors" type="dlruCommon:RestrictionsAndEndorsmentWithEndorsmentWLF"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OOSDriverLicenseMetaData">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithDriversLicenseAndTCTL">
				<xsd:sequence>
					<xsd:element name="State" type="xsd:string" />
					<xsd:element name="IsCommercialDriverLicense" type="xsd:string" />
					<xsd:element name="isDLComplainceWithFederalGovernment"
						type="xsd:string" />
					<xsd:element name="VisitQueueNumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RealID" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OOSDriverLicenseMetaDataWithoutTCTL">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithName">
				<xsd:sequence>
					<xsd:element name="State" type="xsd:string" />
					<xsd:element name="IsCommercialDriverLicense" type="xsd:string" />
					<xsd:element name="isDLComplainceWithFederalGovernment"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- <xsd:complexType name="NewDriverLicenseMetaData"> <xsd:complexContent> 
		<xsd:extension base="common:OwnerMetaDataWithTCTL"> <xsd:sequence> <xsd:element 
		name="Class" type="xsd:string" /> </xsd:sequence> </xsd:extension> </xsd:complexContent> 
		</xsd:complexType> -->

	<xsd:complexType name="ActionAndDLMetaData">
		<xsd:sequence>
			<xsd:element name="Action" type="core:ActionEnum" />
			<xsd:element name="DLNum" type="xsd:string" />
			<xsd:element name="Class" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OwnerMetaData">
		<xsd:sequence>
			<xsd:element name="Race" type="xsd:string" />
			<xsd:element name="Gender" type="xsd:string" />
			<xsd:element name="DateOfBirth" type="xsd:string" />
			<xsd:element name="Suffix" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Ssn" type="xsd:string" minOccurs="0" />
			<xsd:element name="Class" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="OwnerMetaDataWithHieghtWeightEyes">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaData">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" />
					<xsd:element name="Height" type="xsd:string" />
					<xsd:element name="Weight" type="xsd:string" />
					<xsd:element name="Eyes" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OwnerMetaDataWithNameHieghtWeightEyes">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithHieghtWeightEyes">
				<xsd:sequence>
					<xsd:element name="DuplicateCount" type="xsd:string" />
					<xsd:element name="LicenseFee" type="xsd:string" />
					<xsd:element name="IssueDate" type="dlruCommon:YYYYMMDDDateFormat" />
					<xsd:element name="Endorsement" type="xsd:string" />
					<xsd:element name="WildLifeAndFisheryLicenseStatus" type="xsd:string" />
					<xsd:element name="ResExp" type="dlruCommon:RestrictionsAndExpirationDate" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="RestrictionsAndExpirationDate">
		<xsd:sequence>
			<xsd:element name="ExpirationDate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[0-9]{8}"></xsd:pattern>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Restrictions" type="dlruCommon:RestrictionListType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RestrictionListType">
		<xsd:sequence>
			<xsd:element name="Restriction" type="xsd:string" minOccurs="0"
				maxOccurs="6" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RestrictionsAndEndorsmentWithEndorsmentWLF">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:RestrictionsAndExpirationDate">
				<xsd:sequence>
					<xsd:element name="Endorsement" type="xsd:string" />
					<xsd:element name="WildLifeAndFisheryLicenseStatus" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="RestrictionsAndEndorsmentWithMilitaryDonor">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:RestrictionsAndExpirationDate">
				<xsd:sequence>
					<xsd:element name="BloodType" type="xsd:string" />
					<xsd:element name="Donor" type="xsd:string" />
					<xsd:element name="Military" type="xsd:string" />
					<xsd:element name="Vote" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OwnerMetaDataWithTCTL">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaData">
				<xsd:sequence>
					<xsd:element name="LastName" type="core:NameWithTCTL" />
					<xsd:element name="FirstName" type="core:NameWithTCTL" />
					<xsd:element name="MiddleName" type="core:NameWithTCTL" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OwnerMetaDataWithDriversLicenseAndTCTL">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithTCTL">
				<xsd:sequence>
					<xsd:element name="DLNo" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OwnerMetaDataWithTCTLAndFlags">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithTCTL">
				<xsd:sequence>
					<xsd:element name="OwnerFlags" type="core:FlagListType"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OwnerMetaDataWithName">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaData">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OwnerMetaDataWithNameAndFlags">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithName">
				<xsd:sequence>
					<xsd:element name="OwnerFlags" type="core:FlagListType"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OwnerMetaDataWithNameWithDLNum">
		<xsd:complexContent>
			<xsd:extension base="dlruCommon:OwnerMetaDataWithName">
				<xsd:sequence>
					<xsd:element name="DLNo" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DLRU20AdditionalElements">
		<xsd:sequence>
			<xsd:element name="MedicalQuestions" type="dlruCommon:MedicalQuestions" minOccurs="0"/>
			<xsd:element name="EyeVision" type="dlruCommon:Acuity" minOccurs="0"/>
			<xsd:element name="Lens" type="dlruCommon:Acuity" minOccurs="0"/>
			<xsd:element name="Endorsment" type="dlruCommon:Endorsments" minOccurs="0"/>
			<xsd:element name="MedicalSelfCertification" type="dlruCommon:MedicalSelfCert" minOccurs="0"/>
			<xsd:element name="OptionalControlItems" type="dlruCommon:OptionalCntrlItems" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MedicalQuestions">
		<xsd:sequence>
			<xsd:element name="Ok" type="xsd:string" minOccurs="0"/>
			<xsd:element name="One" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Two" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Acuity">
		<xsd:sequence>
			<xsd:element name="Left" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Right" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Both" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MedicalSelfCert">
		<xsd:sequence>
			<xsd:element name="MedicalSelfCertificateNonInter" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MedicalSelfCertificateExcInter" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MedicalSelfCertificateNonIntra" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MedicalSelfCertificateExcIntra" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Endorsments">
		<xsd:sequence>
			<xsd:element name="MC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DL-TL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TNK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HAZ" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Passenger" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SB" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EMR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LifeTimeHunting" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HuntersEducation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LifeTimeFishing" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BoatersEducation" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="OptionalCntrlItems">
		<xsd:sequence>
			<xsd:element name="Veteran" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Cajun" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FreeDocumentCredit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FosterChild" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrleansPar" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NonPermanentAlien" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Duplicate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhotoRetake" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChangeData" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Correction" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChangeRest" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DelinqueCredit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ComercialLicensePermit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AssignDriverLicenseNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ApplicationFeeCredit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VoterId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReferToHazardLicense" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Interlock-Breathlizer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DisabledVeteran" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChildID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UndocumentAliens" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DrivingWhileIntoxicated1-2-3-Offense" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GenderOffender" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DriverLicenseSearchElement">
		<xsd:sequence>
			<xsd:element name="ActionAndDL" type="dlruCommon:ActionAndDLMetaData" />
			<xsd:element name="ExistingDL"
				type="dlruCommon:ExistingDriverLicesnseMetaDataWithOutTCTL" />
			<xsd:element name="OOSDL" type="dlruCommon:OOSDriverLicenseMetaDataWithoutTCTL" />
			<xsd:element name="NewDL" type="dlruCommon:OwnerMetaDataWithName" />
			<xsd:element name="DuplicateCount" type="xsd:string" />
			<xsd:element name="DLRAdditionalProperties" type="dlruCommon:DLRU20AdditionalElements" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DriverLicenseUpdateElement">
		<xsd:sequence>
			<xsd:element name="ActionAndDL" type="dlruCommon:ActionAndDLMetaData" />
			<xsd:element name="ExistingDL" type="dlruCommon:OwnerMetaDataWithHieghtWeightEyes" />
			<xsd:element name="LicenseAddress" type="dlruCommon:PartyAddressWithDom" />
			<xsd:element name="MailingAddress" type="dlruCommon:PartyAddressWithDom" />
			<xsd:element name="DLAdditionalInfo" type="dlruCommon:RestrictionsAndEndorsmentWithMilitaryDonor" />
			<xsd:element name="HandicapInformation" type="dlruCommon:HandicapInfo" />
			<xsd:element name="Remarks" type="dlruCommon:RemarksInfo" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HandicapInfo">
		<xsd:sequence>
			<xsd:element name="HandicapType" type="xsd:string" />
			<xsd:element name="HandicapControl" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RemarksInfo">
		<xsd:sequence>
			<xsd:element name="RemarkOne" type="xsd:string" />
			<xsd:element name="RemarkTwo" type="xsd:string" />
			<xsd:element name="RemarkThree" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PartyAddressWithDom">
		<xsd:complexContent>
			<xsd:extension base="core:PartyAddressType">
				<xsd:sequence>
					<xsd:element name="Domicile" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:simpleType name="YYYYMMDDDateFormat">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{8}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="TimeFormat">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{6}" />
        </xsd:restriction>
    </xsd:simpleType>
	
	<xsd:simpleType name="StatusCodes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="C" />
            <xsd:enumeration value="I" />
            <xsd:enumeration value="E" />
            <xsd:enumeration value="V" />
            <xsd:enumeration value="S" />
            <xsd:enumeration value="*" />
            <xsd:enumeration value="O" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="CustomerList">
		<xsd:sequence>
			<xsd:element name="Customer" type="dlruCommon:Customer" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element name="SelectionItem" type="xsd:string" />
			<xsd:element name="Date" type="dlruCommon:YYYYMMDDDateFormat" minOccurs="0"/>
			<xsd:element name="Time" type="dlruCommon:TimeFormat" minOccurs="0"	/>
			<xsd:element name="State" type="xsd:string"/>
			<xsd:element name="DriverLicense" type="xsd:string" />
			<xsd:element name="Ssn" type="xsd:string" />
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="StatusCodeList" type="dlruCommon:StatusCodeColumns" />
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="StatusCodeColumns">
		<xsd:sequence>
			<xsd:element name="InitialInquiry" type="dlruCommon:StatusCodes" nillable="true"/>
			<xsd:element name="Update" type="dlruCommon:StatusCodes" nillable="true"/>
			<xsd:element name="HistoryForCDLIS" type="dlruCommon:StatusCodes" nillable="true"/>
			<xsd:element name="DuplicateRecordForCDLIS" type="dlruCommon:StatusCodes" nillable="true"/>
			<xsd:element name="NationalDriverRegisterInquiry" type="dlruCommon:StatusCodes" nillable="true"/>
			<xsd:element name="PassedOffToCamera" type="dlruCommon:StatusCodes" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>